---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/13612966/access_tokens
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE2MDg1NjYyODUsImV4cCI6MTYwODU2Njg4NSwiaXNzIjoiMTU4MDYifQ.DsS7MGWraxh_EvjRmmpJF_fAZd4O84Y0gazTLJv0QqwdHnQRh1aY-C8gNqyZFoxQnfjzLIW1QkaP8KCYCS3C3Ynxwcbq0xKifUOmrXmmQgqY2vXouqMW5eJXkzqG6aH4wWCH4e1Pj_CIxxuBa7uFGBACjnaQwH6utEFI3nlQyRo6HGJ7Oyy9xdmV3kJ88FXWmr08EVS24JFL01EAS5fyvYiSzwuAsFLw4DFz_AGiRuPhlRmHgz7oPLwknYiyzg7KT4V1Y1lABD-9WALFR9DM48MHybdhZ6exCx6f0y_26QUCyAkyjTQS7y2h_PsbJUcpZox1P-URDb-eYWflFcqRYA
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"f3151ca05b932eb4b705211a979c839411f7c9396ad3a895863aed2d1c417ab5"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"token":"v1.4e13edd5f5257bfb32e60222c6c784ac3dbaf1cf","expires_at":"2020-12-21T16:58:05Z","permissions":{"members":"read","organization_hooks":"write","administration":"write","checks":"write","contents":"write","metadata":"read","pull_requests":"read","repository_hooks":"write","statuses":"write"},"repository_selection":"selected"}'
  recorded_at: Mon, 21 Dec 2020 15:58:05 GMT
- request:
    method: get
    uri: https://api.github.com/repos/renderedtext/guard/collaborators?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token v1.4e13edd5f5257bfb32e60222c6c784ac3dbaf1cf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"3e381e9284420879aa49d9b03d9b5503e53f6918627b3cd54b807757b9d9ab6e"
      X-Github-Media-Type:
      - github.v3; param=moondragon; format=json
      X-Ratelimit-Limit:
      - '5250'
      X-Ratelimit-Remaining:
      - '5249'
      X-Ratelimit-Reset:
      - '1608569886'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"markoa2","id":8652,"node_id":"MDQ6VXNlcjg2NT2=","avatar_url":"https://avatars1.githubusercontent.com/u/8652?v=4","gravatar_id":"","url":"https://api.github.com/users/markoa2","html_url":"https://github.com/markoa2","followers_url":"https://api.github.com/users/markoa2/followers","following_url":"https://api.github.com/users/markoa2/following{/other_user}","gists_url":"https://api.github.com/users/markoa2/gists{/gist_id}","starred_url":"https://api.github.com/users/markoa2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markoa2/subscriptions","organizations_url":"https://api.github.com/users/markoa2/orgs","repos_url":"https://api.github.com/users/markoa2/repos","events_url":"https://api.github.com/users/markoa2/events{/privacy}","received_events_url":"https://api.github.com/users/markoa2/received_events","type":"User","site_admin":false,"permissions":{"admin":true,"push":true,"pull":true}},{"login":"markoa","id":8651,"node_id":"MDQ6VXNlcjg2NTE=","avatar_url":"https://avatars1.githubusercontent.com/u/8651?v=4","gravatar_id":"","url":"https://api.github.com/users/markoa","html_url":"https://github.com/markoa","followers_url":"https://api.github.com/users/markoa/followers","following_url":"https://api.github.com/users/markoa/following{/other_user}","gists_url":"https://api.github.com/users/markoa/gists{/gist_id}","starred_url":"https://api.github.com/users/markoa/starred{/owne[...]
