<%= if @permissions["project.secrets.view"] do %>

    <%= render FrontWeb.ProjectSettings.SecretsView, "_org_secrets_list.html",
    conn: @conn,
    secrets: @secrets,
    permissions: @permissions,
    project: @project %>

    
<% else %>
  <div class="w-100-l pa3 pa4-l bg-white shadow-1 br3" style="min-height: 400px">
    <div class="pv6 tc">
      <div class="f00">🗝</div>
      <p class="f6 measure-narrow center mv3">Sorry, you can’t access Secrets.<br>Ask organization owner or any of the admins to give you access permission.</p>
    </div>
  </div>
<% end %>