version: '3.6'

services:
  app:
    image: ${IMAGE:-notifications}:${TAG:-latest}
    build:
      context: .
      cache_from:
        - "${REGISTRY_HOST:-local}/notifications/${BRANCH:-main}:${IMAGE_TAG:-test}"
      dockerfile: Dockerfile
      target: ${DOCKER_BUILD_TARGET:-dev}
      args:
        - BUILD_ENV=test
      ssh:
        - default

    tty: true
    volumes:
      - .:/app
      - /app/_build
      - /app/deps

    links:
      - db:db
      - rabbitmq:rabbitmq
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

    environment:
      AMQP_URL: "amqp://rabbitmq:5672"
      BASE_DOMAIN: "testing.com"
      POSTGRES_DB_NAME: "notifications"
      POSTGRES_DB_USER: "postgres"
      POSTGRES_DB_PASSWORD: "the-cake-is-a-lie"
      POSTGRES_DB_HOST: "db"
      POSTGRES_DB_POOL_SIZE: "5"

  db:
    image: postgres:9.6
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: "the-cake-is-a-lie"
    restart: "on-failure"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 3s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: "-rabbit log_levels [{connection,error}]"
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 3s
      timeout: 3s
      retries: 5

volumes:
  postgres-data:
    driver: local

  redis-data:
    driver: local
