<%= if @permissions["organization.secrets.view"] do %>
  <div>
    <h2 class="f3 f2-m mb0">Secrets</h2>
    <p class="mb3 measure">Store and retrieve sensitive data which should never be committed to source control. What you define here will be available to apply in all projects across this organization.</p>

    <div class="mb3">
      <%= if @permissions["organization.secrets.manage"] do %>
        <%= link "New Secret", to: secrets_path(@conn, :new), class: "btn btn-primary" %>
      <% else %>
        <button class="btn btn-primary", disabled="", title="Insufficient permissions">New Secret</button>
      <% end %>
      <%= if !Enum.empty? @secrets do %>
        <button class="btn btn-secondary fr mr3 toggle-btn">Expand all</button>
      <% end %>
    </div>

    <%= render FrontWeb.SecretsView, "_secrets_list.html", secrets: @secrets, can_manage: @permissions["organization.secrets.manage"], next_page_url: @next_page_url, conn: @conn %>

  </div>
<% else %>
  <div class="pv6 tc">
    <div class="f00">🗝</div>
    <p class="f6 measure-narrow center mv3">Sorry, you can’t access Secrets.<br>Ask organization owner or any of the admins to give you access permission.</p>
  </div>
<% end %>
