  <div class="pv6 tc">
    <div class="f00">🗝</div>
    <p class="f6 measure-narrow center mv3">
      Sorry, you can’t access roles.<br>
      Ask organization owner or any of the admins to give you access permission.
    </p>
  </div>
