<script nonce="<%= @conn.assigns[:script_src_nonce] %>">
  window.InjectedDataByBackend.Environment = {}
  window.InjectedDataByBackend.Environment.Env = "<%= Application.get_env(:front, :environment) %>"
  window.InjectedDataByBackend.Integrations = {}
  window.InjectedDataByBackend.Posthog = <%= raw posthog_config_json(@conn) %>
  window.InjectedDataByBackend.TurboNavigation = <%= FeatureProvider.feature_enabled?(:turbo_navigation, param: @conn.assigns[:organization_id]) %>
<%= if @conn.assigns[:js] do %>
  window.InjectedDataByBackend.JS = "<%= @conn.assigns[:js] %>"
<% end %>
</script>
