<!DOCTYPE html>
<html lang="en">
  <%= render "_head.html", conn: @conn %>
  <body class="bg-lightest-brown">

      <%= if @signup do %>
        <%= render FrontWeb.SharedView, "_gtag.html", conn: @conn %>
      <% end %>

      <div id="global-page-header" class="header flex items-center justify-between ph2 ph3-ns pv2">
        <a href="<%= me_url(@conn) %>" class="link flex items-center flex-shrink-0">
          <img src="<%= assets_path() %>/images/semaphore-logo-sign-black.svg" alt="logo" width="26">
          <img src="<%= assets_path() %>/images/semaphore-logo-type.svg" alt="semaphore" width="106" style="margin-left: 6px; padding-top: 3px" class="dn di-m">
        </a>
        <div class="flex items-center flex-shrink-0">
          <div class="flex-shrink-0 pa1 ma1 pointer bg-animate hover-bg-washed-brown br-100 js-dropdown-color-trigger" data-template="profileMenu">
            <img src="<%= @user.avatar_url %>" alt="<%= @user.name %>" class="f7 db br-100 ba b--black-50" width="24" height="24">
          </div>
        </div>
      </div>

      <div class="main" style="padding-top: 49px">
        <div id="main-content" class="bg-white shadow-1 pa3 pa4-m">
          <%= @inner_content %>

          <%= if notice = get_flash(@conn, :notice) do %>
            <%= render FrontWeb.SharedView, "_action_notification.html", notice: notice, conn: @conn %>
          <% end %>

          <%= if alert = get_flash(@conn, :alert) do %>
            <%= render FrontWeb.SharedView, "_action_alert.html", alert: alert, conn: @conn %>
          <% end %>
        </div>
      </div>



    <div style="display: none;">
      <!-- Header Profile menu -->
      <div id="profileMenu">
        <div class="ph2 pv1">
          <div class="f6 ph2 mt2 o-80">Logged in as</div>
          <div class="b ph2 pb2 mb2 bb b--white-40"><%= @user.name %></div>
          <%= render FrontWeb.LayoutView, "page_header/_menu_card.html",
                 card_url: logout_url(@conn),
                 card_title: "Log Out",
                 card_description: "Bye, bye!",
                 tooltip: false %>
        </div>
      </div>
    </div>

    <%= render FrontWeb.LayoutView, "_scripts.html", conn: @conn %>
  </body>
</html>
