<%= if people_management_permissions?(@org_scope?, @permissions) do %>
  <div>
    <div class="flex-m">
      <div>
        <button id="add_service_accounts_to_project" class="btn btn-primary flex items-center">
          <span class="material-symbols-outlined mr2">smart_toy</span>
          Add service accounts
        </button>
      </div>
    </div>
  </div>
<% end %>