<div class="flex flex-row items-center justify-around">
  <span class="material-symbols-outlined f1 mr3 dark-indigo">pending</span>
  <p class="measure mb0 dark-indigo">Your request is currently being processed and the workflow will start shortly.</p>
</div>
