---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 8e03eda81d0c6b20561c038ba48bd68fc7c1d26b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1429088074'
      Etag:
      - W/"c78e9506e74b1c5e1e36cff677ed3d29"
      X-Oauth-Scopes:
      - gist, public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.moondragon; format=json
    body:
      encoding: UTF-8
      string: '[{"id":25857659,"name":"base-app","full_name":"marvinwills/base-app","owner":{"login":"marvinwills","id":9428420,"avatar_url":"https://avatars.githubusercontent.com/u/9428420?v=3","gravatar_id":"","url":"https://api.github.com/users/marvinwills","html_url":"https://github.com/marvinwills","followers_url":"https://api.github.com/users/marvinwills/followers","following_url":"https://api.github.com/users/marvinwills/following{/other_user}","gists_url":"https://api.github.com/users/marvinwills/gists{/gist_id}","starred_url":"https://api.github.com/users/marvinwills/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/marvinwills/subscriptions","organizations_url":"https://api.github.com/users/marvinwills/orgs","repos_url":"https://api.github.com/users/marvinwills/repos","events_url":"https://api.github.com/users/marvinwills/events{/privacy}","received_events_url":"https://api.github.com/users/marvinwills/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/marvinwills/base-app","description":"An
        app to help jumpstart a new Rails 4 app. Features Ruby 2.0, PostgreSQL, jQuery,
        RSpec, Cucumber, user and admin system built with Devise, Facebook login.","fork":true,"url":"https://api.github.com/repos/marvinwills/base-app","forks_url":"https://api.github.com/repos/marvinwills/base-app/forks","keys_url":"https://api.github.com/repos/marvinwills/base-app/keys{/key_id}","collaborators_url":"https://api.github.com/repos/marvinwills/base-app/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/marvinwills/base-app/teams","hooks_url":"https://api.github.com/repos/marvinwills/base-app/hooks","issue_events_url":"https://api.github.com/repos/marvinwills/base-app/issues/events{/number}","events_url":"https://api.github.com/repos/marvinwills/base-app/events","assignees_url":"https://api.github.com/repos/marvinwills/base-app/assignees{/user}","branches_url":"https://api.github.com/repos/marvinwills/base-app/branches{/branch}","tags_url":"https://api.github.com/repos/marvinwills/base-app/tags","blobs_url":"https://api.github.com/repos/marvinwills/base-app/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/marvinwills/base-app/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/marvinwills/base-app/git/refs{/sha}","trees_url":"https://api.github.com/repos/marvinwills/base-app/git/trees{/sha}","statuses_url":"https://api.github.com/repos/marvinwills/base-app/statuses/{sha}","languages_url":"https://api.github.com/repos/marvinwills/base-app/languages","stargazers_url":"https://api.github.com/repos/marvinwills/base-app/stargazers","contributors_url":"https://api.github.com/repos/marvinwills/base-app/contributors","subscribers_url":"https://api.github.com/repos/marvinwills/base-app/subscribers","subscription_url":"https://api.github.com/repos/marvinwills/base-app/subscription","commits_url":"https://api.github.com/repos/marvinwills/base-app/commits{/sha}","git_commits_url":"https://api.github.com/repos/marvinwills/base-app/git/commits{/sha}","comments_url":"https://api.github.com/repos/marvinwills/base-app/comments{/number}","issue_comment_url":"https://api.github.com/repos/marvinwills/base-app/issues/comments{/number}","contents_url":"https://api.github.com/repos/marvinwills/base-app/contents/{+path}","compare_url":"https://api.github.com/repos/marvinwills/base-app/compare/{base}...{head}","merges_url":"https://api.github.com/repos/marvinwills/base-app/merges","archive_url":"https://api.github.com/repos/marvinwills/base-app/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/marvinwills/base-app/downloads","issues_url":"https://api.github.com/repos/marvinwills/base-app/issues{/number}","pulls_url":"https://api.github.com/repos/marvinwills/base-app/pulls{/number}","milestones_url":"https://api.github.com/repos/marvinwills/base-app/milestones{/number}","notifications_url":"https://api.github.com/repos/marvinwills/base-app/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/marvinwills/base-app/labels{/name}","releases_url":"https://api.github.com/repos/marvinwills/base-app/releases{/id}","created_at":"2014-10-28T07:23:55Z","updated_at":"2014-09-16T09:39:44Z","pushed_at":"2014-08-20T11:24:10Z","git_url":"git://github.com/marvinwills/base-app.git","ssh_url":"git@github.com:marvinwills/base-app.git","clone_url":"https://github.com/marvinwills/base-app.git","svn_url":"https://github.com/marvinwills/base-app","homepage":"http://rt-baseapp.herokuapp.com/","size":842,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","master_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":33656196,"name":"warpdrive","full_name":"willscorp/warpdrive","owner":{"login":"willscorp","id":11867443,"avatar_url":"https://avatars.githubusercontent.com/u/11867443?v=3","gravatar_id":"","url":"https://api.github.com/users/willscorp","html_url":"https://github.com/willscorp","followers_url":"https://api.github.com/users/willscorp/followers","following_url":"https://api.github.com/users/willscorp/following{/other_user}","gists_url":"https://api.github.com/users/willscorp/gists{/gi[...]
