<div class="bg-washed-gray mt4 pa3 pa4-l br3 ba b--black-075">
  <div class="bg-white shadow-1 br3 pa3 pa4-l">
    <h3 class="f3 f2-m mb1">Delete <%= @agent_type.name %>?</h3>
    <p class="b red mv3">This cannot be undone!</p>
    <div>
      If you continue:

      <ul class="mb4 mt2">
        <li>You won't be able to start agents of this type anymore</li>
        <li>You’ll remove this agent type from Semaphore for everybody</li>
        <li>Pipelines that use this agent type will become invalid</li>
      </ul>

      <div class="mw6">
        <div class="mt3">
          <%= form_for @conn, self_hosted_agent_path(@conn, :delete, @agent_type.name), [method: :delete], fn _ -> %>
            <div>
              <%= submit "Delete", class: "btn btn-danger mr2" %>
              <%= link "Nevermind",
                  to: self_hosted_agent_path(@conn, :show, @agent_type.name),
                  class: "btn btn-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
