apiVersion: v1
kind: Service
metadata:
  name: "{{ .Chart.Name }}"
  namespace: {{ .Release.Namespace }}
spec:
  type: NodePort
  selector:
    app: "{{ .Chart.Name }}-api"
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
      protocol: TCP