version: '3.6'

services:
  app:
    image: ${IMAGE:-front-app}:${IMAGE_TAG:-latest}
    build:
      context: ..
      dockerfile: front/Dockerfile
      target: dev
      args:
        - MIX_ENV=${MIX_ENV:-dev}
      ssh:
        - default
      cache_from:
        - ${MAIN_IMAGE:-front-app}:${IMAGE_TAG:-latest}
    ports:
      - "4000:4000"

    environment:
      CACHE_PREFIX: "front/"
      CACHE_HOST: "redis-cache"
      CACHE_PORT: "6379"
      CACHE_POOL_SIZE: "5"
      BASE_DOMAIN: ${BASE_DOMAIN:-localhost}
      AMQP_URL: "amqp://rabbitmq:5672"
      SSH_AUTH_SOCK: /ssh-agent
      MIX_ENV: ${MIX_ENV:-dev}
      SEED_CE_FEATURES: "false"
      SEED_CLOUD_MACHINES: "true"
      SEED_SELF_HOSTED_AGENTS: "true"
      EXCLUDE_STUBS: "InstanceConfigMock"
      WORKFLOW_TEMPLATES_YAMLS_PATH: "/app/workflow_templates/saas"
      SEED_PROJECTS: "initializing_failed,zebra,guard,errored,test_results,test_results_debug,after_pipeline,bitbucket,generic_git"
      SECRET_KEY_BASE: "keyboard-cat-please-use-this-only-for-dev-and-testing-it-is-insecure"
      SESSION_SIGNING_SALT: "keyboard-cat-please-use-this-only-for-dev-and-testing-it-is-insecure"

    env_file:
      - ./env/.env.internal-apis

    links:
      - redis-cache:redis-cache
      - rabbitmq:rabbitmq
      - artifacts:artifacts

    tty: true
    volumes:
      - .:/app
      - /app/_build
      - /app/deps
      - /app/assets/node_modules
      - /app/assets/lib
      - /app/assets/bin

  redis-cache:
    image: "redis:5-buster"
    entrypoint: "redis-server --appendonly yes"

  artifacts:
    image: "halverneus/static-file-server"
    ports:
      - "9000:8080"
    environment:
      PORT: 8080
      CORS: "true"
      FOLDER: "/var/www"

    volumes:
      - ./priv/storage:/var/www

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: "-rabbit log_levels [{connection,error}]"
