{{- if not .Values.global.development.minimalDeployment }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Chart.Name }}-user-api"
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: "{{ .Chart.Name }}-user-api"
  replicas: {{ .Values.userApi.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 0
  template:
    metadata:
      name: "{{ .Chart.Name }}-user-api"
      labels:
        app: "{{ .Chart.Name }}-user-api"
    spec:
{{- if .Values.imagePullSecrets }}
      imagePullSecrets:
{{- range .Values.imagePullSecrets }}
        - name: {{ . }}
{{- end }}
{{- end }}
      automountServiceAccountToken: false
      volumes:
        - name: roles-volume
          configMap:
            defaultMode: 0644
            name: roles
            items:
            - key: roles.yaml
              path: roles.yaml
        - name: permissions-volume
          configMap:
            defaultMode: 0644
            name: permissions
            items:
            - key: permissions.yaml
              path: permissions.yaml
        - name: features-volume
          configMap:
            defaultMode: 0644
            name: features
            items:
            - key: features.yml
              path: features.yml
      initContainers:
{{ include "initContainers.all" . | indent 8 }}
      priorityClassName: medium-priority
      containers:
        - name: "{{ .Chart.Name }}-user-api"
          image: "{{ .Values.global.image.registry }}/{{ .Values.image }}:{{ .Values.imageTag }}"
          ports:
          - name: grpc
            containerPort: 50051
          securityContext:
            privileged: false
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - name: features-volume
              mountPath: "/app/features.yml"
              readOnly: true
              subPath: features.yml
          envFrom:
            - configMapRef:
                name: {{ .Values.global.internalApi.configMapName }}
            - configMapRef:
                name: {{ .Values.global.authentication.configMapName }}
            - secretRef:
                name: {{ include "secrets.authentication.name" . }}
          env:
            {{- include "env.db.elixir" . | indent 12 }}
            - name: FEATURE_YAML_PATH
              value: "/app/features.yml"
            - name: GRPC_API
              value: "true"
            - name: START_GPRC_GUARD_API
              value: "false"
            - name: START_GRPC_AUTH_API
              value: "false"
            - name: START_GRPC_USER_API
              value: "true"
            - name: START_GRPC_SERVICE_ACCOUNT_API
              value: "true"
            - name: START_GPRC_HEALTH_CHECK
              value: "true"
            - name: RABBIT_CONSUMER
              value: "false"
            - name: OIDC_DISCOVERY_URL
              value: "$(KC_ROOT_URL)/realms/$(KC_REALM)/.well-known/openid-configuration"
            - name: OIDC_MANAGE_URL
              value: "$(KC_LOCAL_URL)/admin/realms/$(KC_REALM)"
{{- if .Values.global.development.skipTlsVerifyInternal }}
            - name: TLS_SKIP_VERIFY_INTERNAL
              value: "true"
{{- end }}
            - name: INCLUDE_INSTANCE_CONFIG
              value: "true"

            - name: POSTGRES_DB_SSL
              value: {{ .Values.global.database.ssl | quote }}
            - name: POSTGRES_DB_NAME
              value: guard
            - name: POSTGRES_DB_POOL_SIZE
              value: {{ .Values.userApi.dbPoolSize | quote }}
            - name: AMQP_URL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.rabbitmq.secretName }}
                  key: amqp-url
            - name: BASE_DOMAIN
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.global.domain.configMapName }}
                  key: BASE_DOMAIN
            - name: LOG_LEVEL
              value: {{ .Values.userApi.logging.level | quote }}
{{- if .Values.global.statsd.enabled }}
            - name: METRICS_NAMESPACE
              value: {{ .Values.global.statsd.metricsNamespace }}
{{- end }}

{{- if .Values.userApi.resources }}
          resources:
{{ toYaml .Values.userApi.resources | indent 12 }}
{{- end }}

          startupProbe:
            grpc:
              port: 50051
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 30
          readinessProbe:
            grpc:
              port: 50051
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          livenessProbe:
            grpc:
              port: 50051
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
{{- if .Values.global.statsd.enabled }}
        - name: {{ .Chart.Name }}-statsd
          image: "{{ .Values.global.image.registry }}/{{ .Values.global.statsd.image }}:{{ .Values.global.statsd.imageTag }}"
          env:
            - name: FLUSH_INTERVAL
              value: "60000"
            - name: GRAPHITE_HOST
              value: {{ .Values.global.statsd.graphiteHost }}
{{- if .Values.statsd.resources }}
          resources:
{{ toYaml .Values.statsd.resources | indent 13 }}
{{- end }}
          securityContext:
            privileged: false
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
{{- end }}
{{- end }}
