<div style="display: none;">
  <div id="sshDisabledMenu">
    <div class="f6 pa3">
      <div>
        {{VALUE}} <a href="<%= project_settings_path(@conn, :permissions, @project.name) %>">Project Settings: Permissions</a>.
      </div>
    </div>
  </div>
</div>
