<div
  class="flex mt1"
  data-poll-background
  data-poll-state="<%= @badge_pollman.state %>"
  data-poll-href="<%= @badge_pollman.href %>"
>
  <span class="<%= job_state_color(@job.state) %> white br1 ph2">
    <%= String.capitalize(@job.state) %>
  </span>
  <%= if @job.state == "stopped" && @job.stopped_by do %>
    <span class="ml2 f6 gray self-center">
      <%= stopped_by_message(assigns) %>
    </span>
  <% end %>
</div>
