<div id="macos-instructions" style="display: none;">
  <div class="ph3-l mb4">
    <h3 class="f4 mb0">1. Install the agent</h3>
    <p class="mb3">The agent is available via Homebrew. If you don't want to use Homebrew, you can download the agent directly in the <a href="https://github.com/semaphoreci/agent/releases" target="_blank">Releases page</a>.</p>
<pre class="f6 bg-washed-yellow mb0 ph3 pv2 ba b--black-075 br3">
brew install semaphoreci/tap/agent
</pre>
  </div>
  <div class="ph3-l mb4">
    <h3 class="f4 mb0">2. Save the access token</h3>
    <p class="mb3"><span class="serif">⚠️</span> For your own security, we’ll show you the token only once.</p>
<pre class="self-hosted-agent-access-token f6 bg-washed-yellow pa3 ba b--black-075" style="display: none"><%= @token %></pre>
    <p class="m0"><button class="self-hosted-agent-access-token-reveal btn btn-small btn-secondary">Reveal</button></p>
  </div>
  <div class="ph3-l mb4">
    <h3 class="f4 mb0">3. Install the toolbox</h3>
    <p class="mb3">Paste the following lines in your console, one by one.</p>
<pre class="f6 bg-washed-yellow mb0 ph3 pv2 ba b--black-075 br3">
curl -L "https://github.com/semaphoreci/toolbox/releases/latest/download/self-hosted-darwin.tar" -o toolbox.tar
tar -xf toolbox.tar
mv toolbox ~/.toolbox
bash ~/.toolbox/install-toolbox
source ~/.toolbox/toolbox
echo "source ~/.toolbox/toolbox" >> ~/.bash_profile
</pre>
  </div>
  <div class="ph3-l mb4">
    <h3 class="f4 mb0">4. Start the agent</h3>
    <p class="mb3">Paste the following line in your console.</p>
<pre class="f6 bg-washed-yellow mb0 ph3 pv2 ba b--black-075 br3">
agent start --endpoint <%= @conn.host %> --token [token]
</pre>
    <p class="mt3">If you did everything correctly, you'll see your agent running here.</p>
  </div>
</div>
